# Data Cleaning and Preparation
## Problem Statement: Analyzing Customer Churn in a Telecommunications Company
**Objective**: Analyzing Customer Churn in a Telecommunications Company

**Dataset**: [Telecom_Customer_Churn.csv](https://www.kaggle.com/datasets/blastchar/telco-customer-churn)

**Description**: The dataset provides information about customers of a telecommunications company and indicates whether they have churned (discontinued their services). It includes various customer attributes, such as demographics, usage patterns, and account information. The goal is to perform data cleaning and preparation to uncover insights into the factors contributing to customer churn.

## Tasks to Perform
1. **Import Dataset**: Load the "Telecom_Customer_Churn.csv" dataset into your analysis environment.

2. **Explore the Dataset**: Examine the dataset to understand its structure and content, including the number of rows and columns, and the names of the columns.

3. **Handle Missing Values**: Determine an appropriate strategy to deal with missing values in the dataset. Options include imputation, removal, or treating them as a separate category.

4. **Remove Duplicate Records**: Identify and remove any duplicate records from the dataset to ensure data integrity.

5. **Standardize Data**: Check for inconsistent data, such as varying formatting or spelling variations, and standardize it for uniformity.

6. **Convert Data Types**: Convert columns to the correct data types as needed. For example, ensure that numeric columns are in numeric format.

7. **Identify and Handle Outliers**: Detect and address outliers in the data using techniques like z-score or IQR to improve the quality of your analysis.

8. **Feature Engineering**: Create new features that may be relevant for predicting customer churn. For instance, categorize continuous variables or generate new variables from existing ones.

9. **Normalize or Scale Data**: If necessary, apply normalization or scaling to ensure that variables have similar scales. This is especially useful for certain machine learning algorithms.

10. **Split Dataset**: Divide the dataset into training and testing sets for further analysis and modeling. The common practice is an 80-20.

11. **Export Cleaned Dataset**: Save the cleaned dataset to a file for future analysis or modeling.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Import the dataset

In [2]:
data = pd.read_csv("Telecom_Customer_Churn.csv")

### Explore the dataset

In [3]:
print("Number of rows and columns:", data.shape)
print("Column names:", data.columns)
data.head()

Number of rows and columns: (7043, 21)
Column names: Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Handling null, missing values, and duplicate records

In [4]:
null_values = data.isnull().sum()
print("Null values per column:")
print(null_values)

Null values per column:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
missing_values = data.isna().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
print("Number of rows before removing duplicates:", len(data))

Number of rows before removing duplicates: 7043

In [7]:
data = data.drop_duplicates()
print("Number of rows after removing duplicates:", len(data))

Number of rows after removing duplicates: 7043

### Checking for inconsistent data

In [8]:
# Standardize gender column
data['gender'] = data['gender'].str.lower() 
data['gender'] = data['gender'].str.strip()

In [9]:
# Convert 'TotalCharges' to numeric
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

In [10]:
# Detect and handle outliers in 'tenure' using z-score
from scipy import stats
z_scores = np.abs(stats.zscore(data['tenure']))
data_no_outliers = data[(z_scores < 3)]

In [11]:
# Creating a feature 'tenure_group' to categorize tenure
bins = [0, 12, 24, 36, 48, 60, np.inf]
labels = ['0-12', '13-24', '25-36', '37-48', '49-60', '61+']
data['tenure_group'] = pd.cut(data['tenure'], bins=bins, labels=labels)

In [12]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,7590-VHVEG,female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0-12
1,5575-GNVDE,male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.50,No,25-36
2,3668-QPYBK,male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0-12
3,7795-CFOCW,male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,37-48
4,9237-HQITU,female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0-12

### One-hot encoding

In [13]:
categorical_cols = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'tenure_group']
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [14]:
data.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_male,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61+
0,7590-VHVEG,0,1,29.85,29.85,No,False,True,False,False,...,False,True,False,True,False,False,False,False,False,False
1,5575-GNVDE,0,34,56.95,1889.50,No,True,False,False,True,...,False,False,False,False,True,False,True,False,False,False
2,3668-QPYBK,0,2,53.85,108.15,Yes,True,False,False,True,...,False,True,False,False,True,False,False,False,False,False
3,7795-CFOCW,0,45,42.30,1840.75,No,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,9237-HQITU,0,2,70.70,151.65,Yes,False,False,False,True,...,False,True,False,True,False,False,False,False,False,False

### Split the dataset into training and testing sets for further analysis

In [15]:
# Splitting the dataset into training and testing sets
X = data.drop("Churn", axis=1)
y = data["Churn"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Exporting the cleaned dataset for future analysis

In [16]:
data.to_csv("Cleaned_Telecom_Customer_Churn.csv", index=False)

In [17]:
df = pd.read_csv('Cleaned_Telecom_Customer_Churn.csv')

In [18]:
df.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_male,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61+
0,7590-VHVEG,0,1,29.85,29.85,No,False,True,False,False,...,False,True,False,True,False,False,False,False,False,False
1,5575-GNVDE,0,34,56.95,1889.50,No,True,False,False,True,...,False,False,False,False,True,False,True,False,False,False
2,3668-QPYBK,0,2,53.85,108.15,Yes,True,False,False,True,...,False,True,False,False,True,False,False,False,False,False
3,7795-CFOCW,0,45,42.30,1840.75,No,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,9237-HQITU,0,2,70.70,151.65,Yes,False,False,False,True,...,False,True,False,True,False,False,False,False,False,False